@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: "UnitedSans";
  src: url('../../assets/united-sans-reg/UnitedSansReg-Bold.otf');
}

.btn{
  width: 80%;
}

.altBtn{
  background-color: rgb(250, 250, 250);
  border: 1px solid #ddd;
  color: #555;
  width: 80%;
}

.cart {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
}

.cartTitle {
  position: relative;
}

.cartTitle::before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  transform: translateX(-80px);
  width: 70px;
  height: 1px;
  background-color: rgb(143, 143, 143);
}

.cartTitle::after {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  transform: translateX(10px);
  width: 70px;
  height: 1px;
  background-color: rgb(143, 143, 143);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cartItemContainer {
  width: calc(100% - 10px);
  max-height: 60%;
  margin: 0 10px;
  overflow-y: auto;
}

.cartAmount {
  width: calc(100% - 10px);
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartAmount h3 {
  margin: 7px 0;
}

.request {
  width: 90%;
  height: 40px;
  overflow-y: auto;
}

@media (max-width: 770px) and (max-width: 1139px) {
  .cart{
    display: none;
  }
}