.header {
  background-color: #fff;
  width: calc(100% - 420px);
  height: 70px;
  padding: 0 50px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header img {
  height: 35px;
  object-fit: cover;
}

.header span {
  font-size: 12px;
}

.header small {
  position: relative;
  font-size: 12px;
  cursor: pointer;
  color: #666;
}

.header__toolbox{
  display: flex;
  gap: 10px;
  font-family: inherit;
}

@media (max-width: 1140px) {
  .header{
    width: calc(100% - 350px);
    padding: 10px;
  }

  .header img {
    position: absolute;
    left:  calc((100% - 350px) / 2);
    transform: translateX(-50%);
  }

  .header__toolbox{
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 770px) and (max-width: 1139px) {
  .header{
    width: calc(100% - 0px);
    padding: 5px;
  }

  .header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__toolbox{
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  .header small {
    font-size: 13px;
  }
}

@media (max-width: 769px) {
  .header {
    padding: 0px;
  }
}