.category {
  height: auto;
  max-height: 60px;
  overflow: hidden;
  margin: 20px 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.category.open {
  max-height: 5000px;
  transition: max-height 1s ease-in-out;;
}

.deal-option-header {
  height: 60px;
  overflow: hidden;
  padding: 0 15px;
  font-family: inherit;
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.deal-option-header.completed {
  background-color: rgb(220, 255, 185);
}

.deal-option-header button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.deal-product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
}

.deal-product-item {
  flex: 0 1 25%;
  height: 100px;
  background-color: khaki;
}