@font-face {
  font-family: "UnitedSans";
  src: url('assets/united-sans-reg/UnitedSansReg-Black.otf') format("woff");
}

body {
  background-color: #eee;
  background-image: url('./assets/marble_bg.jpg');
  width: 100vw;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'UnitedSans';
}

::selection {
  background-color: rgb(159, 216, 112);
}