body {
  background-color: #eee;
  background-image: url('./assets/marble_bg.jpg');
  width: 100vw;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  background-color: rgb(159, 216, 112);
}