.btn {
  width: 26px;
  height: 26px;
  border: none;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}